<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Account | Managmently</title>
  </head>
  <body>
    <main class="flex bg-gray-50">
      <th:block
        th:insert="~{fragments/auth-sidebar :: auth-sidebar}"
      ></th:block>
      <div class="content flex-1 flex-col">
        <th:block
          th:insert="~{fragments/auth-header :: auth-header}"
        ></th:block>
        <h1>My account</h1>
        <div class="flex flex-col gap-4" x-data="{ deleteUser: false }">
          <div class="flex flex-col gap-4 items-center">
            <img
              src="img/user-placeholder.jpg"
              alt="User image"
              class="rounded-full w-40 aspect-square outline-4 outline outline-blue-600"
            />
            <div class="flex flex-col items-center">
              <p
                th:text="${user.firstName + ' ' + user.lastName + ' (' + user.username + ')'}"
                class="text-3xl"
              ></p>
              <p th:if="${user.role.name == 'ROLE_USER'}" class="text-blue-600">
                USER
              </p>
              <p
                th:if="${user.role.name == 'ROLE_OWNER'}"
                class="text-blue-600"
              >
                PROPERTY OWNER
              </p>
              <p
                th:if="${user.role.name == 'ROLE_AGENT'}"
                class="text-blue-600"
              >
                REAL ESTATE AGENT
              </p>
            </div>
          </div>

          <form
            action="/updateUser"
            method="post"
            class="grid grid-cols-2 gap-4 mt-8"
          >
            <input type="hidden" name="id" th:value="${user.id}" />
            <div class="relative">
              <input
                type="text"
                id="firstName"
                name="firstName"
                class="peer"
                placeholder=""
                autocomplete="given-name"
                th:value="${user.firstName}"
              />
              <label
                for="firstName"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >First Name</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="peer"
                placeholder=""
                autocomplete="family-name"
                th:value="${user.lastName}"
              />
              <label
                for="lastName"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Last Name</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="address"
                name="address"
                class="peer"
                placeholder=""
                autocomplete="street-address"
                th:value="${user.address}"
              />
              <label
                for="address"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Address</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="city"
                name="city"
                class="peer"
                placeholder=""
                th:value="${user.city}"
              />
              <label
                for="city"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >City</label
              >
            </div>
            <div class="relative">
              <input
                type="email"
                id="email"
                name="email"
                class="peer"
                placeholder=""
                th:value="${user.email}"
                autocomplete="email"
              />
              <label
                for="email"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >E-mail address</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                class="peer"
                placeholder=""
                th:value="${user.phoneNumber}"
                autocomplete="tel"
              />
              <label
                for="phoneNumber"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Phone Number</label
              >
            </div>
            <input type="submit" value="Save Changes" class="col-span-2" />
          </form>
          <button
            @click="deleteUser =! deleteUser"
            class="button"
            style="background-color: #d11a2a"
          >
            Delete Account
          </button>
          <div
            x-show="deleteUser"
            class="fixed inset-0 z-50 overflow-y-auto"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            x-cloak
          >
            <div
              class="flex items-end justify-center min-h-screen text-black px-4 text-center md:items-center sm:block sm:p-0"
            >
              <div
                x-cloak
                @click="deleteUser = false"
                x-show="deleteUser"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
                aria-hidden="true"
              ></div>

              <div
                x-cloak
                x-show="deleteUser"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
              >
                <div class="flex items-center justify-between">
                  <h2 class="text-xl font-semibold">
                    Are you sure you want to delete your account?
                  </h2>
                  <a
                    href="javascript:void(0)"
                    @click="deleteUser = false"
                    class="text-gray-600 focus:outline-none hover:text-gray-700 mb-4"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </a>
                </div>

                <div class="space-y-4">
                  <p>
                    Deleting your account will permanently remove all your
                    associated information in our system.
                  </p>
                  <ul class="list-disc list-inside">
                    <li>
                      Your profile information will be permanently deleted.
                    </li>
                    <li>
                      All data associated with your account, including contact,
                      properties, tenants and payments, will be lost.
                    </li>
                    <li>
                      You will no longer have access to your account or any
                      associated services.
                    </li>
                  </ul>

                  <p>This action cannot be undone.</p>
                  <p>
                    To confirm the deletion of your account, please enter your
                    password:
                  </p>
                  <input type="text" name="password" id="password" />
                </div>
                <div class="justify-around items-center mt-4 space-y-4">
                  <form action="/deleteUser" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input
                      type="submit"
                      value="Delete"
                      style="background-color: #d11a2a"
                    />
                  </form>
                  <button
                    @click="deleteUser = false"
                    class="button bg-gray-100 hover:bg-gray-200 text-black"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
