<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Account | Managmently</title>
  </head>
  <body>
    <main class="flex bg-gray-50">
      <th:block
        th:insert="~{fragments/auth-sidebar :: auth-sidebar}"
      ></th:block>

      <div class="content">
        <th:block
          th:insert="~{fragments/auth-header :: auth-header}"
        ></th:block>
        <th:block
          th:insert="~{fragments/successMessage :: successMessage}"
        ></th:block>
        <th:block
          th:insert="~{fragments/errorMessage :: errorMessage}"
        ></th:block>
        <h1>My account</h1>
        <div class="flex flex-col gap-4" x-data="{ deleteUser: false }">
          <div class="flex flex-col gap-4 items-center">
            <div class="relative group">
              <img
                th:if="${user.profileImage == null}"
                src="img/user-placeholder.jpg"
                alt="Placeholder user image"
                class="rounded-full w-40 aspect-square outline-4 outline outline-blue-600 transition duration-300 ease-in-out group-hover:bg-opacity-75"
              />
              <img
                th:unless="${user.profileImage == null}"
                th:src="${user.profileImage}"
                alt="User image"
                class="rounded-full object-contain w-40 aspect-square outline-4 outline outline-blue-600 transition duration-300 ease-in-out group-hover:bg-opacity-75"
              />
              <form action="" method="post" enctype="multipart/form-data">
                <input
                  type="file"
                  name="profileImage"
                  accept=".png, .jpg, .jpeg"
                  class="hidden"
                  onchange="javascript:this.form.submit();"
                />
                <div
                  onclick="document.querySelector('input[type=file]').click()"
                  class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-12 h-12 bg-gray-100 bg-opacity-80 p-2 rounded-full"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"
                    />
                  </svg>
                </div>
              </form>
            </div>

            <div class="flex flex-col items-center">
              <p
                th:text="${user.firstName + ' ' + user.lastName + ' (' + user.username + ')'}"
                class="text-3xl"
              ></p>

              <p
                th:if="${user.role.name == 'ROLE_TENANT'}"
                class="text-blue-600"
              >
                TENANT
              </p>
              <p
                th:if="${user.role.name == 'ROLE_OWNER'}"
                class="text-blue-600"
              >
                PROPERTY OWNER
              </p>
              <p
                th:if="${user.role.name == 'ROLE_AGENT'}"
                class="text-blue-600"
              >
                REAL ESTATE AGENT
              </p>
            </div>
          </div>

          <form
            action="/updateUser"
            method="post"
            class="grid grid-cols-2 gap-4 mt-8"
          >
            <input type="hidden" name="id" th:value="${user.id}" />
            <div class="relative">
              <input
                type="text"
                id="firstName"
                name="firstName"
                class="peer"
                placeholder=""
                autocomplete="given-name"
                th:value="${user.firstName}"
              />
              <label
                for="firstName"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >First Name</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="peer"
                placeholder=""
                autocomplete="family-name"
                th:value="${user.lastName}"
              />
              <label
                for="lastName"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Last Name</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="address"
                name="address"
                class="peer"
                placeholder=""
                autocomplete="street-address"
                th:value="${user.address}"
              />
              <label
                for="address"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Address</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="city"
                name="city"
                class="peer"
                placeholder=""
                th:value="${user.city}"
              />
              <label
                for="city"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >City</label
              >
            </div>
            <div class="relative">
              <input
                type="email"
                id="email"
                name="email"
                class="peer"
                placeholder=""
                th:value="${user.email}"
                autocomplete="email"
              />
              <label
                for="email"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >E-mail address</label
              >
            </div>
            <div class="relative">
              <input
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                class="peer"
                placeholder=""
                th:value="${user.phoneNumber}"
                autocomplete="tel"
              />
              <label
                for="phoneNumber"
                class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                >Phone Number</label
              >
            </div>
            <input type="submit" value="Save Changes" class="col-span-2" />
          </form>
          <button
            @click="deleteUser =! deleteUser"
            class="deleteButton w-fit gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
              />
            </svg>

            Delete Account
          </button>
          <div
            x-show="deleteUser"
            class="fixed inset-0 z-50 overflow-y-auto"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            x-cloak
          >
            <div
              class="flex items-end justify-center min-h-screen text-black px-4 text-center md:items-center sm:block sm:p-0"
            >
              <div
                x-cloak
                @click="deleteUser = false"
                x-show="deleteUser"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
                aria-hidden="true"
              ></div>

              <div
                x-cloak
                x-show="deleteUser"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
              >
                <div class="flex items-center justify-between">
                  <h2 class="text-xl font-semibold">
                    Are you sure you want to delete your account?
                  </h2>
                  <a
                    href="javascript:void(0)"
                    @click="deleteUser = false"
                    class="text-gray-600 focus:outline-none hover:text-gray-700 mb-4"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </a>
                </div>

                <div class="space-y-4">
                  <p>
                    Deleting your account will permanently remove all your
                    associated information in our system.
                  </p>
                  <ul class="list-disc list-inside">
                    <li>
                      Your profile information will be permanently deleted.
                    </li>
                    <li>
                      All data associated with your account, including contact,
                      properties, tenants and payments, will be lost.
                    </li>
                    <li>
                      You will no longer have access to your account or any
                      associated services.
                    </li>
                  </ul>

                  <p>This action cannot be undone.</p>
                  <p>
                    To confirm the deletion of your account, please enter your
                    password:
                  </p>
                </div>
                <div class="justify-around items-center mt-4 space-y-4">
                  <form action="/deleteUser" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="mb-4"
                    />
                    <button type="submit" class="deleteButton">Delete</button>
                  </form>
                  <button @click="deleteUser = false" class="cancelButton">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
