<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Contacts | Managmently</title>
    <script th:src="@{js/contacts.js}" defer="defer"></script>
  </head>
  <body>
    <main class="flex bg-gray-50">
      <th:block
        th:insert="~{fragments/auth-sidebar :: auth-sidebar}"
      ></th:block>
      <div class="content">
        <th:block
          th:insert="~{fragments/auth-header :: auth-header}"
        ></th:block>
        <th:block
          th:insert="~{fragments/successMessage :: successMessage}"
        ></th:block>
        <th:block
          th:insert="~{fragments/errorMessage :: errorMessage}"
        ></th:block>
        <h1>Contacts</h1>

        <div x-data="{ addContact: false }">
          <a
            href="javascript:void(0)"
            class="button flex items-center justify-around w-48"
            @click="addContact =!addContact"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
            New contact</a
          >
          <div
            x-show="addContact"
            class="fixed inset-0 z-50"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            x-cloak
          >
            <div
              class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0"
            >
              <div
                x-cloak
                @click="addContact = false"
                x-show="addContact"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
                aria-hidden="true"
              ></div>

              <div
                x-cloak
                x-show="addContact"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
              >
                <div class="flex items-center justify-between">
                  <h2 class="text-xl font-semibold">Add new contact</h2>
                  <a
                    href="javascript:void(0)"
                    @click="addContact = false"
                    class="text-gray-600 focus:outline-none hover:text-gray-700 mb-4"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </a>
                </div>

                <p class="mt-2 text-sm text-gray-500">
                  Insert the new contact's details into your contact list.
                </p>

                <form th:action="@{/insertContact}" method="post" class="mt-5">
                  <div class="relative mb-4">
                    <input
                      type="text"
                      id="firstName"
                      name="firstName"
                      class="peer"
                      placeholder=""
                    />
                    <label
                      for="firstName"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >First name</label
                    >
                  </div>

                  <div class="relative mb-4">
                    <input
                      type="text"
                      id="lastName"
                      name="lastName"
                      class="peer"
                      placeholder=""
                    />
                    <label
                      for="lastName"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >Last name</label
                    >
                  </div>

                  <div class="relative mb-4">
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="peer"
                      placeholder=""
                      autocomplete="email"
                    />
                    <label
                      for="email"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >E-mail address</label
                    >
                  </div>

                  <div class="relative mb-4">
                    <input
                      type="text"
                      id="phoneNumber"
                      name="phoneNumber"
                      class="peer"
                      placeholder=""
                    />
                    <label
                      for="phoneNumber"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >Phone number</label
                    >
                  </div>

                  <div class="relative mb-4">
                    <input
                      type="text"
                      id="organization"
                      name="organization"
                      class="peer"
                      placeholder=""
                      autocomplete="organization"
                    />
                    <label
                      for="organization"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >Organization</label
                    >
                  </div>

                  <div class="relative mb-4">
                    <input
                      type="text"
                      id="jobTitle"
                      name="jobTitle"
                      class="peer"
                      placeholder=""
                    />
                    <label
                      for="jobTitle"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >Job Title</label
                    >
                  </div>

                  <div class="relative">
                    <textarea
                      id="notes"
                      name="notes"
                      rows="5"
                      class="peer resize-none"
                      placeholder=""
                    ></textarea>
                    <label
                      for="notes"
                      class="peer-focus:px-2 peer-focus:text-blue-700 peer-focus:dark:text-blue-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-7 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
                      >Notes</label
                    >
                  </div>

                  <div class="flex justify-end mt-8">
                    <input type="submit" value="Submit" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-8 gap-2 mb-2">
          <div class="relative w-full mb-2">
            <div
              class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"
                />
              </svg>
            </div>

            <input
              type="search"
              name="searchContacts"
              id="searchContacts"
              placeholder="Search by name, e-mail, organization, etc."
              class="w-full"
              x-data="{ query: '' }"
              @keyup="searchContacts"
              x-model="query"
            />
          </div>
          <div x-data="{ openSort: false }" class="relative">
            <div
              class="border rounded-full w-10 border-gray-300 aspect-square grid place-items-center mb-1.5 cursor-pointer"
              @click="openSort =!openSort"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"
                />
              </svg>
            </div>
            <div
              x-show="openSort"
              class="absolute right-0 p-2 z-10 bg-gray-50 dark:bg-gray-800 dark:text-gray-100 rounded-md shadow-lg w-40"
              x-cloak
            >
              <a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg dark:hover:bg-gray-700"
              >
                Name
              </a>
              <a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg dark:hover:bg-gray-700"
              >
                Organization</a
              ><a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg dark:hover:bg-gray-700"
              >
                Title
              </a>
            </div>
          </div>
        </div>

        <div class="overflow-hidden rounded-lg border border-gray-200">
          <table class="w-full border-collapse text-left" id="contactTable">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-4 font-medium text-gray-500">Name</th>
                <th class="px-6 py-4 font-medium text-gray-500">E-mail</th>
                <th class="px-6 py-4 font-medium text-gray-500">Phone</th>
                <th class="px-6 py-4 font-medium text-gray-500">
                  Organization
                </th>
                <th class="px-6 py-4 font-medium text-gray-500">Title</th>
                <th class="px-6 py-4 font-medium text-gray-500">Notes</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-100 border-t border-gray-100"
              x-data="{ updateContact: false}"
            >
              <tr
                th:each="contact : ${userContacts}"
                class="hover:bg-gray-50"
                x-show="!updateContact"
              >
                <td
                  class="px-6 py-4"
                  th:text="${contact.firstName + ' ' + contact.lastName}"
                ></td>
                <td class="px-6 py-4" th:text="${contact.email}"></td>
                <td class="px-6 py-4" th:text="${contact.phoneNumber}"></td>
                <td class="px-6 py-4" th:text="${contact.organization}"></td>
                <td class="px-6 py-4" th:text="${contact.jobTitle}"></td>
                <td class="px-6 py-4" th:text="${contact.notes}"></td>
                <td>
                  <svg
                    @click="updateContact = true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 cursor-pointer"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    />
                  </svg>
                </td>
                <td class="px-4 py-4" x-data="{ deleteContact: false }">
                  <svg
                    @click="deleteContact =!deleteContact"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 cursor-pointer"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                  <div
                    x-show="deleteContact"
                    class="fixed inset-0 z-50 overflow-y-auto"
                    aria-labelledby="modal-title"
                    role="dialog"
                    aria-modal="true"
                    x-cloak
                  >
                    <div
                      class="flex items-end justify-center min-h-screen text-black px-4 text-center md:items-center sm:block sm:p-0"
                    >
                      <div
                        x-cloak
                        @click="deleteContact = false"
                        x-show="deleteContact"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
                        aria-hidden="true"
                      ></div>

                      <div
                        x-cloak
                        x-show="deleteContact"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
                      >
                        <div class="flex items-center justify-between">
                          <h2 class="text-xl font-semibold">
                            Are you sure you want to delete this contact?
                          </h2>
                          <a
                            href="javascript:void(0)"
                            @click="deleteContact = false"
                            class="text-gray-600 focus:outline-none hover:text-gray-700 mb-4"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                              />
                            </svg>
                          </a>
                        </div>

                        <div class="space-y-4">
                          <p>
                            Contact Name:
                            <span
                              th:text="${contact.firstName + ' ' + contact.lastName}"
                            ></span>
                          </p>
                          <p>
                            Please note that deleting this contact will
                            permanently remove it from the system, along with
                            all associated information.
                          </p>
                          <p>This action cannot be undone.</p>
                        </div>
                        <div class="justify-around items-center mt-4 space-y-4">
                          <form
                            th:action="@{'/deleteContact/' + ${contact.id}}"
                            method="post"
                          >
                            <button type="submit" class="deleteButton">
                              Delete
                            </button>
                          </form>
                          <button
                            @click="deleteContact = false"
                            class="cancelButton"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr
                th:each="contact : ${userContacts}"
                x-show="updateContact"
                x-cloak
              >
                <form action="/updateContact" method="post">
                  <td class="flex m-2">
                    <input type="hidden" name="id" th:value="${contact.id}" />
                    <input
                      type="text"
                      name="firstName"
                      id="firstName"
                      th:value="${contact.firstName}"
                      class="h-10 mr-2"
                    />
                    <input
                      type="text"
                      name="lastName"
                      id="lastName"
                      th:value="${contact.lastName}"
                      class="h-10"
                    />
                  </td>
                  <td>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      th:value="${contact.email}"
                      class="h-10"
                      autocomplete="email"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      name="phoneNumber"
                      id="phoneNumber"
                      th:value="${contact.phoneNumber}"
                      class="h-10"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      name="organization"
                      id="organization"
                      th:value="${contact.organization}"
                      class="h-10"
                      autocomplete="organization"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      name="jobTitle"
                      id="jobTitle"
                      th:value="${contact.jobTitle}"
                      class="h-10"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      name="notes"
                      id="notes"
                      th:value="${contact.notes}"
                      class="h-10"
                    />
                  </td>
                  <td x-show="updateContact" x-cloak>
                    <button type="submit">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M4.5 12.75l6 6 9-13.5"
                        />
                      </svg>
                    </button>
                  </td>
                  <td x-show="updateContact" x-cloak>
                    <svg
                      @click="updateContact = false"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 cursor-pointer"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
