<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Payments | Managmently</title>
  </head>
  <body>
    <main class="flex bg-gray-50 dark:bg-gray-900">
      <th:block
        th:insert="~{fragments/auth-sidebar :: auth-sidebar}"
      ></th:block>
      <div class="content flex-1 flex-col">
        <th:block
          th:insert="~{fragments/auth-header :: auth-header}"
        ></th:block>
        <h1>Payments</h1>
        <div class="flex items-center mt-8 gap-2 mb-2">
          <div class="relative w-full mb-2">
            <div
              class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"
                />
              </svg>
            </div>

            <input
              type="search"
              name="searchPayments"
              id="searchPayments"
              placeholder="Search by name, amount, status, etc."
              class="h-10 w-full text-sm rounded-lg border border-gray-300 pl-9 pr-2 focus:border-blue-700"
            />
          </div>
          <div x-data="{ openSort: false }" class="relative">
            <div
              class="border rounded-full w-10 border-gray-300 aspect-square grid place-items-center mb-1.5 cursor-pointer"
              @click="openSort =!openSort"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"
                />
              </svg>
            </div>
            <div
              x-show="openSort"
              class="absolute right-0 p-2 z-10 bg-gray-50 dark:bg-neutral-900 rounded-md shadow-lg w-40"
              x-cloak
            >
              <a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                Tenant
              </a>
              <a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                Date</a
              ><a
                href="javascript:void(0)"
                class="block px-4 py-2 text-base hover:bg-gray-100 rounded-lg"
              >
                Amount
              </a>
            </div>
          </div>
        </div>

        <div th:if="${paymentRecords.isEmpty()}">No payments yet</div>
        <div
          th:unless="${paymentRecords.isEmpty()}"
          class="overflow-hidden rounded-lg border border-gray-200"
        >
          <table class="w-full border-collapse text-left">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-4 font-medium text-gray-500">Payment ID</th>
                <th class="px-6 py-4 font-medium text-gray-500">Tenant</th>
                <th class="px-6 py-4 font-medium text-gray-500">
                  Payment Date
                </th>
                <th class="px-6 py-4 font-medium text-gray-500">
                  Payment Amount
                </th>
                <th class="px-6 py-4 font-medium text-gray-500">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody
              class="divide-y divide-gray-100 border-t border-gray-100"
              x-data="{ statusSelect: false, editPayment: false }"
            >
              <tr
                th:each="payment : ${paymentRecords}"
                class="hover:bg-gray-50"
              >
                <td class="px-6 py-4" th:text="${payment.id}"></td>
                <td
                  class="px-6 py-4"
                  th:text="${payment.tenant.firstName + ' ' + payment.tenant.lastName}"
                ></td>
                <td
                  class="px-6 py-4"
                  th:text="${payment.paymentDate + ''}"
                ></td>
                <td
                  class="px-6 py-4"
                  th:text="${'€' + payment.paymentAmount}"
                ></td>
                <td class="px-6 py-4" x-show="!statusSelect">
                  <span
                    th:if="${payment.status == 'Pending'}"
                    th:text="${payment.status}"
                    class="border p-2 rounded-lg bg-gray-100"
                  ></span>
                  <span
                    th:if="${payment.status == 'Overdue'}"
                    th:text="${payment.status}"
                    class="border p-2 rounded-lg bg-red-100"
                  ></span>
                  <span
                    th:if="${payment.status == 'Complete'}"
                    th:text="${payment.status}"
                    class="border p-2 rounded-lg bg-green-100"
                  ></span>
                </td>
                <td class="px-6" x-show="statusSelect" x-cloak>
                  <select
                    name="status"
                    class="w-fit h-10 grid place-content-center p-0 pl-2"
                  >
                    <option value="Pending">Pending</option>
                    <option value="Complete">Complete</option>
                    <option value="Overdue">Overdue</option>
                  </select>
                </td>

                <td x-show="!editPayment" x-cloak>
                  <svg
                    @click="statusSelect = true; editPayment = true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 cursor-pointer"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    />
                  </svg>
                </td>

                <td x-show="editPayment" x-cloak>
                  <svg
                    @click="editPayment = false; statusSelect = false"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 cursor-pointer"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>

                  <form action="/updatePaymentStatus" method="post">
                    <button type="submit">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M4.5 12.75l6 6 9-13.5"
                        />
                      </svg>
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
