<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Tenants | Managmently</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/auth-header :: auth-header}"></th:block>
    <main class="flex">
      <th:block
        th:insert="~{fragments/auth-sidebar :: auth-sidebar}"
      ></th:block>
      <div class="content flex-1 flex-col">
        <h1>Tenants</h1>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
