<header th:fragment="auth-header">
  <nav class="flex justify-end items-center text-lg pt-4">
    <ul class="flex items-center gap-2 relative">
      <li class="relative">
        <div
          class="absolute inset-y-0 left-0 pl-2 flex items-center pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"
            />
          </svg>
        </div>
        <input type="search" name="search" id="search" placeholder="Search" />
      </li>
      <li x-data="{ openNotifications: false }" class="relative">
        <div
          class="p-1 rounded-full hover:bg-gray-100 transition-colors"
          @click="openNotifications =! openNotifications"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-7 h-7 cursor-pointer"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
            />
          </svg>
        </div>
        <div
          x-show="openNotifications"
          class="absolute right-0 p-2 z-10 rounded-md shadow-lg w-60 min-w-fit aspect-video bg-gray-50 dark:bg-gray-900 dark:text-gray-100"
          x-cloak
        >
          <h3 class="mb-2">Notifications</h3>
          <hr />
          <div
            th:each="friendRequest : ${friendRequests}"
            class="text-base p-2 flex items-center gap-4"
          >
            <div class="w-12 aspect-square">
              <img
                th:if="${friendRequest.sender.profileImage == null}"
                src="img/user-placeholder.jpg"
                alt=""
                class="rounded-full"
              />
            </div>

            <div class="flex flex-col">
              <h3
                class="font-semibold"
                th:text="${friendRequest.sender.firstName + ' ' + friendRequest.sender.lastName}"
              ></h3>
              <form
                action="/acceptFriendRequest"
                method="post"
                class="flex gap-2"
              >
                <input
                  type="hidden"
                  name="friendRequestId"
                  th:value="${friendRequest.id}"
                />
                <input
                  type="hidden"
                  name="senderId"
                  th:value="${friendRequest.sender.id}"
                />
                <button type="submit" class="button h-10">Accept</button>
                <button
                  type="button"
                  class="button h-10 bg-gray-300 hover:bg-gray-400"
                >
                  Decline
                </button>
              </form>
            </div>
          </div>
        </div>
      </li>

      <li class="p-1 rounded-full hover:bg-gray-100 transition-colors">
        <a href="/account" aria-label="Account">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-7 h-7"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
