<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Error 403 | Managmently</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main class="flex flex-col items-center">
      <div class="content-regular">
        <div class="md:flex items-center gap-16 md:mt-40">
          <img
            src="img/error-403-illustration.svg"
            alt="Error 403 illustration"
            class="md:w-2/5"
          />
          <div class="text-lg md:text-xl flex-1 space-y-4">
            <h1 class="md:text-6xl">ACCESS DENIED</h1>
            <p>
              Oops! It seems like you don't have permission to access this page.
              If you believe this is an error, please contact the support.
            </p>
            <div class="flex items-center gap-4">
              <a href="/dashboard" class="button w-fit">Return to Dashboard</a>
              <a href="/contact" class="w-fit link">Contact support &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
