<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Managmently</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main class="flex justify-center relative">
      <th:block
        th:insert="~{fragments/successMessage :: successMessage}"
      ></th:block>
      <div
        th:if="${param.successLogout}"
        id="toast-success"
        class="absolute right-0 z-30 flex items-center w-full p-4 mb-4 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
        role="alert"
        x-data="{ successMessage: true }"
        x-show="successMessage"
        x-init="setTimeout(() => {successMessage = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform translate-y-4"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform translate-y-4"
      >
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            />
          </svg>
          <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3">
          You've been successfully logged out. Have a great day!
        </div>
        <button
          type="button"
          @click="successMessage = false"
          class="ms-auto -mx-1.5 -my-1.5 bg-white rounded-lg p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-success"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="content-regular items-center flex-row">
        <div class="w-2/3 flex flex-col gap-8">
          <p class="text-6xl">
            Discover the Future of
            <span class="text-blue-700">Property Management</span>
          </p>
          <a href="/login" class="button">Get Started</a>
        </div>
        <img src="img/rocket.svg" alt="" class="w-16" />
        <img src="img/house-image-isometric.png" alt="" class="w-2/3" />
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
