<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Pricing | Managmently</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main class="flex flex-col items-center">
      <div class="content-regular flex flex-col items-center">
        <h1 class="mb-0">Choose a plan that's right for you</h1>
        <p class="text-gray-600">
          Explore our pricing options below to find the plan that aligns with
          your budget and goals.
        </p>
        <div class="flex gap-8 mt-8">
          <div
            class="flex flex-col border rounded-lg aspect-[3/4] flex-1 p-4 justify-around shadow-lg"
          >
            <p class="font-semibold">Starter</p>
            <p class="text-gray-600 text-sm mb-4">
              Begin managing your property with our Free Starter plan, designed
              to help you get started at no cost.
            </p>
            <h2>Free</h2>
            <div class="flex flex-col space-y-2">
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-gray-300 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-gray-300 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-gray-300 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
            </div>
            <a href="#" class="button">Choose starter</a>
          </div>
          <div
            class="flex flex-col border rounded-lg aspect-[3/4] flex-1 p-4 justify-around shadow-lg"
          >
            <p class="font-semibold">Advanced</p>
            <p class="text-gray-600 text-sm mb-4">
              Upgrade to our Advanced plan for enhanced property management
              tools and support.
            </p>
            <h2>&euro;10 / per month</h2>
            <div class="flex flex-col space-y-2">
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-gray-300 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
            </div>
            <a href="#" class="button">Choose advanced</a>
          </div>
          <div
            class="flex flex-col border rounded-lg aspect-[3/4] flex-1 p-4 justify-around shadow-lg"
          >
            <p class="font-semibold">Premium</p>
            <p class="text-gray-600 text-sm mb-4">
              Elevate your property management with our Premium plan, featuring
              exclusive features and personalized assistance.
            </p>
            <h2>&euro;25 / per month</h2>
            <div class="flex flex-col space-y-2">
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
              <span class="flex items-center gap-2"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-7 h-7 p-1 bg-blue-700 rounded-full text-white"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Lorem ipsum dolor sit amet.</span
              >
            </div>
            <a href="#" class="button">Choose premium</a>
          </div>
        </div>
      </div>
    </main>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
